/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

.container {
    max-width: 900px;
    padding: 20px;
}

/* Header Styles */
.header {
    background: linear-gradient(0deg, #1A1A1D, #3B1C32);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.logo span {
    color: #FFD700;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Hero Section */
.vid {
    position: fixed;
    width: fit-content;
    z-index: -1;
    overflow: visible;
}

.vid img {
    height: 100vw;
    align-content: center;
}

.hero {
    position: relative;
    text-align: center;
    padding: 6rem 20px;
    z-index: 1; 
    color: white;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    margin: 15px 0 20px;
}

.hero-btn {
    background: #543A14;
    color: #FFF0DC;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.hero-btn:hover {
    background: #F0BB78;
}

/* Form Section */
.form-section {
    background-color:#FFF0DC;
    padding: 20px;
    margin: 0rem 30rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    width: 50%;
    padding: 10px;
    background: #543A14;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #F0BB78;
}